body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: myfont;
  src: url("./KumbhSans-VariableFont_wght.ttf");
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: myfont;
}
html{
  font-size: 65%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
